<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://ec2-18-222-17-189.us-east-2.compute.amazonaws.com:3306/TechExerciseDBPoulin</property>
		<property name="hibernate.connection.username">ipoulin_remote</property>
		<property name="hibernate.connection.password">Shibbersaregr8</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<mapping class="datamodel.EmployeePoulin" />
		<mapping class="datamodel.ExpensePoulin" />
		<mapping class="datamodel.IncomePoulin" />
	</session-factory>
</hibernate-configuration>